html {
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif, Arial;
}

body {
    margin: 0 auto;
    background-color: #222;
}
.chat-bar-collapsible {
    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); */
    margin-left: 10px;
    margin-right: -1px;
    margin-bottom: 8px;
     
     position: fixed;
     bottom: 20px; /* Adjust as needed */
     /* right: 20px; Adjust as needed */
     width: 300px;
     left: 1px;
}

.collapsible {
    background-color: rgb(125, 163, 221);
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 60px;
    text-align: left;
    outline: none;
    font-size: 23px;
    border-radius: 1px 1px 0px 0px;
    border: 2px solid white;
    border-bottom: none;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.full-chat-block {
    width: 300px;
    background: white;
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
    height: max-content;
    transition: max-height 0.2s ease-out;
}

.outer-container {
    min-height: 500px;
    bottom: 0%;
    position: relative;
}

.chat-container {
    max-height: 500px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    scroll-behavior: smooth;
    hyphens: auto;
}

.chat-container::-webkit-scrollbar {
    display: flex;
}

.chat-bar-input-block {
    display: flex;
    float: left;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: rgb(235, 235, 235);
    border-radius: 10px 10px 0px 0px;
    padding: 10px 0px 10px 10px;
}

.chat-bar-icons {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 25%;
    float: right;
    font-size: 20px;
}


#chat-icon:hover {
    opacity: .7;
}
#chat-button{
    border-radius: 50%; /* Makes the icon round */
    width: 55px; /* Adjust the size as needed */
    height: 60px; /* Adjust the size as needed */
}

/* Chat bubbles */

#userInput {
    width: 75%;
}

.input-box {
    float: left;
    border: none;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #000;
    background-color: white;
    outline: none
}

.userText {
    color: white;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    clear: both;
}

.userText span {
    line-height: 1.5em;
    display: inline-block;
    background: #5ca6fa;
    padding: 10px;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    max-width: 80%;
    margin-right: 10px;
    animation: floatup .5s forwards
}

.botText {
    color: #000;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
}

.botText span {
    line-height: 1.5em;
    display: inline-block;
    background: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: 10px;
    animation: floatup .5s forwards;
}

@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (max-width:600px) {
    .full-chat-block {
        width: 100%;
        border-radius: 0px;
    }
    .chat-bar-collapsible {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
    }
    .collapsible {
        width: 100%;
        border: 0px;
        border-top: 3px solid white;
        border-radius: 0px;
    }
}

@media screen and (max-width: 768px) {

}

/* Styles for devices with a minimum width of 1024 pixels */
@media screen and (min-width: 1024px) {
  
}

/* Styles for devices in portrait orientation */
@media screen and (orientation: portrait) {

}

/* Styles for devices in landscape orientation */
@media screen and (orientation: landscape) {

}
/* Styles for devices with a minimum resolution of 300 dots per inch (dpi) */
@media screen and (min-resolution: 300dpi) {

}

/* Styles for devices with a minimum resolution of 2 device pixels per pixel unit */
@media screen and (min-resolution: 2dppx) {

}
/* Styles for printed documents */
@media print {

}
/* Styles for devices with a 16:9 aspect ratio */
@media screen and (aspect-ratio: 16/9) {

}
/* Styles for small devices in portrait orientation */
@media screen and (max-width: 480px) and (orientation: portrait) {

}

