.header {
  background-color: #E6E6E6;
  padding: 20px 10px;
}

/* Style the header links */
.header a{
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 15px;
  line-height: 25px;
  border-radius: 4px;
}


.header h1{
  position: relative;
  top: 18px;
  left: 4px;
  font-size: 50px;
  font-weight: bold;
  font-family: "trirong";
}
.logo{
  float: left;
  width: 260px;
  height: 120px;
  background: #E6E6E6;
  position: relative;
  display: block;
  background-blend-mode: multiply;
  margin-top: 0;
  border: #e9dcdc;
}




#container{
  background-image: wheat;
  
}
.header h2{
  text-align: left;
  
}
.logo{
  width: 250px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}


 