.header {
  background-color: #E6E6E6;
  padding: 20px 10px;
}

/* Style the header links */
.header a{
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 15px;
  line-height: 25px;
  border-radius: 4px;
}


.header h1{
  position: relative;
  top: 27px;
  left: 54px;
  font-size: 60px;
  font-weight: bold;
  font-family: "trirong";
}
.logo{
  float: left;
  width: 260px;
  height: 120px;
  background: #E6E6E6;
  position: relative;
  display: block;
  background-blend-mode: multiply;
  margin-top: 0;
  border: #e9dcdc;
}




#container{
  background-image: wheat;
  
}
.header h2{
  text-align: left;
  
}
.logo{
  width: 250px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

@media screen and (max-width: 768px) {

}

/* Styles for devices with a minimum width of 1024 pixels */
@media screen and (min-width: 1024px) {
  
}

/* Styles for devices in portrait orientation */
@media screen and (orientation: portrait) {

}

/* Styles for devices in landscape orientation */
@media screen and (orientation: landscape) {

}
/* Styles for devices with a minimum resolution of 300 dots per inch (dpi) */
@media screen and (min-resolution: 300dpi) {

}

/* Styles for devices with a minimum resolution of 2 device pixels per pixel unit */
@media screen and (min-resolution: 2dppx) {

}
/* Styles for printed documents */
@media print {

}
/* Styles for devices with a 16:9 aspect ratio */
@media screen and (aspect-ratio: 16/9) {

}
/* Styles for small devices in portrait orientation */
@media screen and (max-width: 480px) and (orientation: portrait) {

}

 
