.header {
    background-color: #E6E6E6;
    padding: 20px 10px;
  }
  
  /* Style the header links */
  .header a{
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 15px;
    line-height: 25px;
    border-radius: 4px;
  }

  
.header h1{
    position: relative;
    top: 18px;
    left: 45px;
    font-size: 50px;
    font-weight: bold;
    font-family: "trirong";
}
  .logo{
    float: left;
    width: 260px;
    height: 120px;
    background: #E6E6E6;
    position: relative;
    display: block;
    background-blend-mode: multiply;
    margin-top: 0;
    border: #e9dcdc;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Float the link section to the right */
  .nav-button {
    float: right;
    display: block;
    max-width: 100%;
    color: #ddd;
  }
  
  .active{
    margin: auto;
    padding: inherit;
    top: 10px;
  }
  .carousel-inner{
    height: 400px;
 }
.d-block{
    margin-right: 55px;
}
img{
    width: 50%;
}
.header p{
      font-size: 15px;
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 318px;
      margin-top: 15px;
      font-weight: lighter;
      display: flex;
}
#search {
  margin-left: -15px;
  margin-right: 1px;
  background-attachment: fixed;
}
/* .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
} */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  width: 30%; /* Adjust the width of each section as needed */
  padding: 20px;
}

.footer-section h2 {
  color: #3498db;
}

.links ul {
  list-style: none;
  padding: 0;
}

.links li {
  margin-bottom: 10px;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #777;
}

.social-icons a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-size: 20px;
}
